#nav_principal ul{
    position:relative;
    float: right;
    right: 20px;
}

#nav_principal ul li.home a{
    background-image: url(../assets/bgm.png); 
    background-size: cover;
    background-repeat: no-repeat;
    color: black; 
    padding: 10px 20px; 
    border-radius: 5px; 
}

#nav_principal ul li{
    position:relative;
    display: inline-block;
    padding: 0 10px 0 10px;
    height:50px;
    width: 58px;
    text-align:center;
    cursor:pointer;
}

#nav_principal ul li a{
    top:10px;
    position:relative;
    font-size:15px;
    color: white; 
    text-decoration: none; 
}

#nav_principal ul li.activo a,
#nav_principal ul li:hover a{
    color: blue;
}